* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: #000;
    color: white;
}

.container {
    display: flex;
    gap: 10px;
    padding: 20px;
}

.board {
    /* text-align: center; */
    /* display: flex; */
    /* justify-content: center; */
    padding: 0 20px;
    border: 1px solid rgba(231, 226, 226, 0.5);
    height: 80vh;
    width: 200px;
    border-radius: 10px;
    box-shadow: rgba(237, 234, 234, 0.5) 0px 2px 8px 0px;
}

.items{
    /* display: flex; */
    margin-top: 10px;
}

.item {
    border: 1px solid rgba(231, 226, 226, 0.5);
    margin-top: 15px;
    padding: 20px 10px;
    border-radius: 10px;
    cursor: grab;
}

.item:hover {
    background: white;
    color: black;
}